<header class="grid-2">
    <h1>My Store</h1>
    <ul class="nav-items">
        <li class="nav-link"><a class="link font-white shadow rounded-small" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active-link" routerLink="/">Products</a>
        </li>
        <li class="nav-link">
            <a class="link font-white shadow rounded-small" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active-link" routerLink="cart">Cart <span class="counter shadow"
                    *ngIf="cartService.cartItemQuantity$ | async as quantity ">{{quantity}}</span>
            </a>
        </li>
    </ul>

</header>
<router-outlet></router-outlet>