$font-stack: Helvetica, sans-serif;
$primary-font-color: #263238;
$primary-color: #ee6002;
$secondary-color: #0290ee;
$light-color: #eceff1;
$white: #fff;

body {
    font: 100% $font-stack;
    color: $primary-font-color;
}

.border {
    border: 1px solid;
    border-color: $light-color;
}

.m-1 {
    margin: 16px 1px;
}

.m-default {
    margin: 16px;
}

.p-1 {
    padding: 4px 8px;
}

.rounded {
    border-radius: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
    align-items: center;
}

.grid-wide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
    align-items: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    align-items: center;
}

.card-img-fixed {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.col-2 {
    grid-column: span 2/4;
    column-gap: 10px;
}

.col-1 {
    grid-column: span 3/4;
    column-gap: 10px;
}

.row {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 100vh;

}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    transition-property: width;
    transition-duration: 0.25s;
}

::-webkit-scrollbar-track {
    background: $white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $primary-font-color;
    border-radius: 10px;
}

// ::-webkit-scrollbar-button{
//     background: $primary-font-color;
// }

::-webkit-scrollbar-thumb:hover {
    background: $primary-font-color;
}


@media (max-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: auto;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        align-items: center;
    }

    .grid-wide {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        align-items: center;
    }

    .col-2,
    .col-1 {
        grid-column: span 4/4;
        column-gap: 10px;
    }
}

img {
    width: 100%;
}

button {
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $primary-color;
    border: none;
    padding: 6px 16px;
    margin-bottom: 8px;
}

button:hover {
    background-color: adjust-hue($color: $primary-color, $degrees: 10);
}

p,
h3 {
    margin: 0;
    padding: 4px 8px;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

h1 {
    font-size: x-large;
}

.nav-items li {
    margin: 6px;
    display: inline;
    list-style: none;
    text-decoration: none;
}

.font-white {
    color: $white;
}

.nav-items {
    display: inline;
    text-decoration: none;
}

.card>a {
    color: $primary-font-color;
    text-decoration: none;
}

.card>a:visited {
    color: $primary-font-color;
    text-decoration: wavy;
}

a:visited {
    text-decoration: none;
}

.card {
    transition-property: transform;
    transition-duration: 0.25s;
}

.card:hover {
    transform: scale(1.02, 1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 100px;
}

.link {
    text-decoration: none;
    background-color: black;
    padding: 6px 16px;
    color: $white;
    transition-property: box-shadow, background-color;
    transition-duration: 0.25s;
}

.active-link {
    // color: $primary-font-color;
    background-color: $primary-color;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 100px;
}

.rounded-small {
    border-radius: 5px;
}

.counter {
    background-color: $white;
    margin-left: 8px;
    border-radius: 100%;
    color: $primary-color;
    padding: 4px 8px;
    text-decoration-line: underline;
    text-decoration: wavy;
}

input,
select {
    outline: none !important;
}

.center {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}